*{
    margin: auto;
    padding: 0;
}

body{
    background:url("sea.gif");
    background-repeat:no-repeat;
    background-size:100%;
    color:white;
    font-size:20px;
    margin: 10;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.cantor{
    width: 200px;
    height:200px;
    display: inline-block;
    border-radius: 400px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    border:solid 8px white;
    
}

#inicio{
text-decoration: none;
color:white;
font-size:25px;
margin:10px;
left:10px;
border-radius: 10px;
}

#titulo{
    border-radius: 20px;
    background-color:rgba(255, 255, 255, .0);
    display:inline-block;
    border:1px solid
}


h1{
    text-align: center;
    margin:10px;
    font-size:100px;
}


h2{
    text-align: center;
    margin:10px;
}


.box{
    display:inline-block;
    padding:20px;
    margin:10px;
    width: fit-content;
    border-radius: 20px;
    background-color:rgba(255, 255, 255, .2);
    text-align:center;
    border:1px solid
    
}

.box:hover{
        background-color:rgba(255, 255, 255, 0.082);
        color:white;
}
    

#main{
    width:90%;
    margin:auto;
    text-align:center;
}

p{
    font-size:25px;
    color:white;
    font-weight: bold;
}



    

